.App {
  text-align: center;
  background-color: #ffff00;
  height:100%;
}


.App-header {
  background-color: #222;
  height: 10%;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.left-container{
  background-color: #eadfdf;
  margin-bottom: -9999px;
}
.right-container{
  background-color: #999999;
  margin-bottom: -9999px;
}
.float-left{
  float:left;
}
.fill{
  min-height: 100%;
  height: 100%;
  min-width: 100%;
  width: 100%;
}
.btn-room{
    background-color: #ddb8b8;
    width:100%;
    margin-bottom : 10px;
    margin-top: 10px;
}
.room-button-add {
  background-color: #0000ff;
}
.btn-signin {
  background-color: #ffa500;
  margin-bottom : 5px;
  margin-top: 5px;
}
.chatroom{
  background-color: #ffeded
}
.name-tag{
  background-color: #ccc3c3;
  max-width: 20%;
  min-width: 20%;
}
.time-tag{
  max-width: 10%;
  min-width: 10%;
  background-color: #ccc3c3;
  text-align: right;
}
.messege-tag{
  text-align: left;
}
.notice{
  margin: 10px 10px 10px 10px;
}
.messege-box{
  background-color: #ffff00;
  border-style: double;
}
.input-text-bar{
  float:bottom;
  background-color: #e02c2c;
}
.input-text-box{
  width: 100%
}
.button-delete-room {
  margin: 10px 10px 10px 10px;
}
